{% extends 'user/layout/afterlogin.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
<title>new book</title>
{% endblock %}
{% block stytle %}
<style>
.form-add{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 5px gold;
}
h1{
    text-align: center;
}
.save{
    color: white;
    background-color: #4f4f4f;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
   }
   .save:hover{
       border: 3px solid #4f4f4f;
      color: #4f4f4f;
        background-color: white;
   }
</style>
{% endblock %}
{% block body %}

<div class="div-add">


    <form class="form-add" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>add new book</h1>
        {% for field in addbookform %}
        {{field.label_tag}}
        {% render_field field class="form-control"%}
        {%endfor %}
        <button type="submit" class="save">Save</button>
    </form>
</div>



{% endblock %}