 {% extends 'user/layout/afterlogin.html' %}

{% load static %}

{% block title %}
    <title>{{book_details.title}}</title>
{% endblock %}

{% block stytle %}
    <link rel="stylesheet" href="{% static 'user/css/detailsofbook.css' %}" >
{% endblock %}
<body>
 {% block body %}
<div class="div-details">
        <table class="table-detail">
            <tr>
                <td colspan="3">
                 <h1>  {{book_details.title}}</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'books/images/'%}{{book_details.image}}" class="image_book" height="250" width="250">
                </td>
            </tr>

                <tr>
                <td>
                    <span class="author"><span class="by">by:</span> {{book_details.author}}</span>  <br>
                    <span class="type">Type :{{book_details.types}}</span><br>
                    <span class="price"> {{book_details.price}} <span class="dollar">&dollar;</span></span><br>
                    <span class="summary"> {{book_details.summary}} </span><br>

                </td>

            <tr>
            {% if book_details.available and not user.is_superuser %}
            <td colspan="2" class="btn">
                <form method="get">
                    <a href="{% url 'date_return' book_details.id user.id%}" class="borrowe">borrowe</a>

                    </form>
            </td>
            {% else %}
                <td> <button type="button" class="borrowe" disabled>Not available</button></td>
            </tr>
            <tr>
                {% if not user.is_superuser %}
                <td><span class="return-data">book will return in </span>{{bor_book.data_return}}</td>
                {% endif %}
            </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
</body>