{% extends "user/layout/log_or_reg.html" %}
{%load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    <title>log in </title>
{% endblock %}

{% block style %}
<link href="{% static 'user/css/style_log.css' %}" rel="stylesheet">
{% endblock %}

{% block forms_log %}
<div class="div-log" id="div-log">
    <form class="form-log" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors%}
    <div class="alert alert-danger" role="alerts">
        {%for error in form.non_field_errors%}
             <p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
        {%endfor%}
    </div>
{%endif%}
{% for field in form %}
    <div class="form-group">
      {{field.label_tag}}

      {%if form.is_bound%}
        {%if field.errors%}
           {% render_field field class="form-control is-invalid" %}
            {%for error in field.errors%}
              <div class="invalid-feedback">{{error}}</div>
            {%endfor%}
        {%else%}
      {% render_field field class="form-control is-valid" %}
        {%endif%}
      {%else%}
      {% render_field field class="form-control" %}

      {%endif%}


    </div>
    {%if field.help_text%}
    <small class="form-text text-muted">
      {{field.help_text}}
    </small>
    {%endif%}
    {% endfor %}


        <a href="{% url 'register' %}">Create new account?</a><br>

       <a href="{% url 'home' %}"><button class="btn-submit" type="submit">sign in</button></a>
    </form>
</div>

{% endblock %}

