{% extends "user/layout/log_or_reg.html" %}
{%load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    <title>log in </title>
{% endblock %}

{% block style %}
<link href="{% static 'user/css/style_log.css' %}" rel="stylesheet">
{% endblock %}

{% block forms_log %}
<div class="div-log" id="div-log">
    <form class="form-log" method="post" novalidate>
        {% csrf_token %}
        {% for field in form%}
        <div class="from-group">
            {{field.label_tag}}
            {% render_field field class="form-control"%}
        </div>
        {%endfor %}


        <a href="{% url 'register' %}">Create new account?</a><br>

       <a href="{% url 'home' %}"><button class="btn-submit" type="submit">sign in</button></a>
    </form>
</div>
{% endblock %}

