{% extends 'user/layout/afterlogin.html' %}
{% load static %}

{% block title %}
    <title>{{user.username}}</title>
{% endblock %}
    {% block stytle %}

    <link href="{% static 'books/css/styleproducts.css'%}" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="products">
{% for book in books %}
    {% if book.available %}
    <div class="books">
     <span class="img"> <img src="{%static 'books/images/'%}{{book.image}}" width="250" height="250"></span>  <br>
        <span class="title">{{book.title}}</span><br>
        <span class="author"><span class="by" style="font-family:cursive; color: #00363a;"> by</span> {{book.author}}</span><br>
        <a href="{{book.id}}" class="buy">detail</a>
<!--        {% if book.available %}-->
<!--        <button type="button" class="buy">buy</button>-->
<!--        <button type="button" class="borrowe">borrowe</button>-->
<!--        {% endif %}-->



    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
