{% extends 'user/layout/afterlogin.html' %}
{% block title %}
<title>Done!</title>
{% endblock %}

{% block stytle %}
<style>
    .div-change-done{
        padding: 20px;
        font-family: Arial;
        font-size: large;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;

    }
    .return-home{
        margin: 50px;
    }
</style>

{% endblock %}

{% block body %}
<div class="div-change-done">
   <h1> the password success changing </h1><br>

    <a href="{% url 'home' %}" class="return-home">return to home</a>
</div>
{% endblock %}>