{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

    <link href="{% static 'user/css/log_or_register.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block style %}
    {% endblock %}
</head>
<body>
<div class="log-register">
   <a href="{% url 'login' %}"><button class="log-in" type="button">log in</button></a>
    <a href="{% url 'register'%}"><button id="sign-up" type="button">sign up</button></a>
</div>
{% block forms_reg %}

{% endblock %}

{% block forms_log %}

{% endblock %}
<!--<script src="{% static 'user/js/jshome.js' %}"></script>-->
</body>
</html>