
body{
    background-image: url("../images/background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.table-detail{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 5px solid gold;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin-bottom: 50px;

}
h1{
    font-family:cursive ;
    color:#4f4f4f ;
    text-shadow: 5px 5px 5px gold;
}
td{
    padding: 5px;
}
.by{
    color: #1b1b1b;
    font-family: cursive;

}
.dollar{
    color: green;
}
.only{
    color: red;
}
.btn{
    text-align: center;

}
.image_book{
    border-radius: 20px;
}
.borrowe{
    border: none;
    color: white;
    background-color: #4f4f4f;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
    text-decoration: none;
}
.borrowe:hover{
    border: 2px solid #4f4f4f;
    color: #4f4f4f;
    background-color: white;
    text-decoration: none;
}
.return-data{
    color: #570808;
    font-weight: bold;
}
.summary{
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
}