body{
        background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.log-register{
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;

}
.log-in , #sign-up{
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: SansSerif;
    color: white;
    background-color:#4f4f4f;
    border: 0px;



}
.log-in:hover , #sign-up:hover{
    border: 3px solid #4f4f4f;
    color: #4f4f4f;
    background-color: white;
}