
.div-reg{
    color: #4f4f4f;
    width: 50%;
    margin:auto;

}
.form-reg{
    border-radius: 10px;
    box-shadow: 0px 0px 5px gold;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 100px;
    padding: 20px;
}
label{
    margin-bottom: 5px;
    margin-bottom: 5px;
    color: #4f4f4f;
    display: inline-block;
}

/*input{*/
/*    width: 70%;*/
/*    padding:10px;*/
/*    border-radius: 10px;*/
/*    display: block;*/
/*    margin: 5px auto;*/
/*}*/


.btn-reg , .btn-delete{
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
    font-family: SansSerif;
    color: white;
    background-color: #4f4f4f;
    border: 0px;
    margin: 20px 50px 10px;

}
 .btn-reg:hover , .btn-delete:hover{
        border: 3px solid #4f4f4f;
    color: #4f4f4f;
    background-color: white;
}