body{
    margin: 0px;
    padding: 0px;
}
.products{
text-align: center;
}
.books{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin: 10px;
    padding: 10px;
}
/*.img{*/
/*margin-left: 20px;*/
/*}*/
.title{
    font-weight: bolder;
    color: #a41515;
    border-bottom:3px solid #00363a;
}
.author , .types , .price ,.copies ,.available{
position:relative;
    top:10px
}
.buy , .borrowe {
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: black;
    border: 0px;
}
.buy:hover , .borrowe:hover {
    color: black;
    background-color: white;
    border: 3px solid black;
}