body{
    margin: 0px;
    padding: 0px;
}
.products{
text-align: center;
}
.books{
    display: inline-block;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin: 10px;
    padding: 40px;
}
.title{
    font-weight: bolder;
    color: #a41515;
    border-bottom:3px solid gold;
}
.author , .types , .price ,.copies ,.available{
position:relative;
    top:10px;
    bottom: 10px;
}
.buy {
    font-weight: normal;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: #4f4f4f;
    border: 0px;
    text-decoration: none;
    position:relative;
    top:20px;
    bottom: 20px;
}
.buy:hover , .borrowe:hover {
    color: black;
    background-color: white;
    border: 3px solid #4f4f4f;
    text-decoration: none;
}
.edit , .Delete{
    font-weight: normal;
    border-radius: 10px;
    padding: 5px;
    border: 0px;
    text-decoration: none;
    position:relative;
    top:20px;
    bottom: 20px;
    cursor: pointer;
}
.edit{
    background-color: #00363a;
    color: white;
}
.Delete{
    background-color: #a41515;
    color: white;
}
.Delete:hover{
    background-color:white ;
    color: #a41515 ;
    border: 3px solid #a41515;
    text-decoration: none;
}
.edit:hover{
    background-color: white;
    color: #00363a;
    border: 3px solid #00363a;
    text-decoration: none;
}